.circleci/
node_modules/
.git/
coverage/
dist/
tmp/
*/*/*.test.ts

.dockerignore
.editorconfig
.env
.gitignore
CHANGELOG.md
commitlint.config.js
heroku.yml
jest.config.js
LICENSE
npm-debug.log
README.md
tslint.json
webpack.development.js
